/* Global css starts here */
:root{
    --primary-color: #1F2235;
    --secondry-color: #15192A;
}
body{
    background-color: var(--primary-color);
    padding: 0px;
    height: 0px;
}
section{
    height: auto;
}
a{
    color: white !important;
}
a:hover{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
h3{
    color: #FFFFFF;
    font-weight: 400;
}

.custom-container{
    width: 87%;
    margin: 0 auto;
}
.primary-button{
    border: 1.5px solid #FFC378;
    font-weight: 600;
}
.section-heading{
    color: #FFFFFF !important;
    font-size: 55px;
    font-weight: 450;
}
.section-subheading{
    color: #FFC378 !important;
    font-size: 18px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.section-txt{
    color: #BBBFDD;
    font-size: 16px;
}
.explore-btn{
    width: 157px;
}
.explore-btn-inner{
    background: transparent;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #FFC378;
}
.explore-btn .input-group-text{
    background: #ffc378b0;
    border-top: 2px solid #FFC378;
    border-right: 2px solid #FFC378;
    border-bottom: 2px solid #FFC378;  
    border-left: none;

}
/* Global css ends here */

/* Navbar starts here */
.nav-link{
    color: #FFFFFF;
}
.nav-link:hover{
    color: #FFFFFF;
}
/* Navbar ends here */

/* hero section starts here */
.hero-img{
    width: 90%;
}
.right-arrow{
    background: #ba9263;
}
/* hero section ends here */

/* mekas section starts here */
.mekas-inner{
    background-color: #313552;
    padding-top: 4%;
    padding-bottom: 4%;
    height: auto;
}
.mekas-img{
    height: 110%;
    display: flex;
    justify-content: center;
    text-align: center;
}
/* mekas section ends here */

/* artworks section starts here */
.artworks-section{
    padding-top: 3%;
    padding-bottom: 3%;
    height: auto;
}
.artwork-1{
    margin-top: 30%;
}
.artwork-2{
    margin-top: 15%;
}
/* artworks section ends here */

/* roadmap section starts here */
.roadmap-list a{
    color: #9AA6D0 !important;
    font-size: 14px;
    text-transform: uppercase;
}
.roadmap-list .active{
    color: #FFFFFF !important;
}
.roadmap-list .active-rank{
    color: #FFC378 !important;
}
.roadmap-section hr{
    border-top: 3px solid #D8D8D8 !important;
    width: 52px;
    float: left;
    margin-top: 38px;
}
.roadmap-step-header{
    background-color: #313552;
    padding: 30px;
    border-top: 3px solid #FFC378;
}
.step-heading{
    color: #FFFFFF !important;
    font-size: 32px;
    font-weight: 450;
}
.step-body{
    background-color: #D2D9F6;
    padding: 40px 50px;
}
.roadmap-step-block{
    width: 90%;
}
.robot-img{
    position: absolute;
    right: 14px;
    top: -93px;
    width: 24%;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: none !important;
    color: white !important;
}

/* roadmap section ends here */

/* team section starts here */
.team-section{
    padding-top: 5%;
    padding-bottom: 5%;
    height: auto;
}
/* team section ends here */

/* selling steps section starts here */
.selling-steps-section{
    padding-bottom: 5%;
    height: auto;
}
.selling-steps-block{
    background-color: #24273D;
    width: 77%;
    margin: 0 auto;
    padding: 0px 30px;
}
.step-card{
    padding: 57px 5px;
}
.step-card-2{
    padding: 57px 20px;
}
/* selling steps section ends here */

/* join community section starts here */
.join-community-block{
    background-image: url(../img/community-bg.svg);
    background-size: cover;
    background-position: center;
    width: 77%;
    margin: 0 auto;
    padding: 9% 5% 8% 6%;
    position: relative;
}
.join-community-block p{
    color: #FFD2D6;
    font-size: 16px;
}
.join-community-block .explore-btn-inner{
    border: 2px solid #ffffff;
}
.join-community-block .explore-btn .input-group-text{
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: none;
    background: #EC757F;
}
.join-community-block .right-arrow{
    background: #EC757F;
}
/* join community section ends here */

/* footer section starts here */
.footer-section{
    background-color: #252840;
    padding-top: 16%;
    padding-bottom: 1%;
    height: auto;
    margin-top: -115px;
}
.footer-section ul li{
    display: inline;
}
.footer-border{
    border-top: 1px solid rgb(255 255 255 / 10%) !important;
}
.footer-txt{
    color: #A1A3C3;
}
.social-icon{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(
        288deg) brightness(102%) contrast(102%);
}
.social-icon:hover {
    transform: scale(1.5);
  }
/* footer section ends here */